<div class="container">
    <div class="row">
        <div class="col-md-12 text-center">
                <h1 class="display-4">Eğitim ve öğrenimle alakalı her şeyin bir arada bulunduğu platform</h1>
                <hr class="my-4">
                <p class="lead">Eğitimciler, Classroom'u kullanarak kişiselleştirilebilir, yönetilebilir ve ölçülebilir özellikler barındıran ilgi çekici öğrenim deneyimleri oluşturabilir.</p>
                <p class="lead">
                <a class="btn btn-primary" href="Identity/Account/Login" role="button">Sign in to Classroom</a>
                </p>
        </div>
    </div>
</div>
