@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Şifremi Unuttum";
}

<h1>Şifre sıfırlama bağlantınız Email adresinize gönderildi</h1>
<p>
    Lütfen şifrenizi sıfırlamak için e-postanızı kontrol edin.
</p>
